<div class="footer">
  <div class="rectangle-9"></div>
  <div class="text-left">
    <p>2023 grentma, Inc. - Datenschutz - Nutzungsbedingungen - Sitemap - Angaben zum Unternehmen</p>
  </div>
  <div class="text-right">
    <p>Deutsch (DE) Währung auswählen</p>
  </div>
</div>
