<div class="background-grandma">
  <video autoplay muted loop id="bg-video">
    <source src="<%= asset_path('home_page_photos/My project.mp4') %>" type="video/mp4">
  </video>
  <div class="overlay">
    <h1 class="home-header mb-2">Grandmothers and grandchildren were made to meet</h1>
    <h3 class="home-header mb-4">Find the perfect grandmother to experience the feeling of your childhood</h3>
    <div class="button-container">
      <%= link_to "Put your Grandma Online", new_grandma_path, class: "new-grandma-button" %>
      <%= link_to "Live an Experience with a Grandma", grandmas_path, class: "grandmas-button" %>
    </div>
  </div>
</div>



<%# <div class="container">


    <div class="row">
      <div class="col-md-12 text-center">
        <h2 style="
    padding-top: 91px;
">The most Popular Grandmothers</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <a href="#">
          <div class="card">
            <img src="/assets/home_page_photos/photo1-9fee0652ef004475aa14639b42a3b552f68fde7e7187050ae51e89a46a73040f.png">
            <div class="card-body">
              <h5 class="card-title">3 Times Pokers World Champion</h5>
              <p class="card-text">Edna Jackson</p>
              <p class="card-text">Cooking, Gardening, Knitting</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a href="#">
          <div class="card">

            <img src="/assets/home_page_photos/photo2-afcd66e101582961ba83859522f23eb42c57af5457a355f35624958b252a0cde.png">
            <div class="card-body">
              <h5 class="card-title">Former Sniper</h5>
              <p class="card-text">Rose Miller</p>
              <p class="card-text">Baking, Storytelling, Sewing</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 text-center">
        <a href="#">
          <div class="card">
            <img src="/assets/home_page_photos/photo3-1c79bf5392a4d611b3b2ff9f44e4d9dab8d4b3dc629ec8745bfff086664f7c33.png">
            <div class="card-body">
              <h5 class="card-title">Former Female Rapper</h5>
              <p class="card-text">Katana Johnson</p>
              <p class="card-text">Knitting, Crocheting, Cooking</p>
            </div>
          </div>
        </a>
      </div>
    </div> %>
