.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // padding: 4px 32px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
}

.navbar-picture-fix {
  width: 142px;
  justify-content: end;

  ul {
    margin: 0 !important;
  }
}
