.signup-container {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.signup-container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.signup-label {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.signup-button {
  background-color: #f0d9ff;
  border: none;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 24px;
  margin-right: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.login-link {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #666666;
}

.login-link a {
  color: #666666;
  font-weight: bold;
}

.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-button {
  background-color: #f0d9ff;
  border: none;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 24px;
  margin-right: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.form-control {
  border: none;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  font-weight: normal;
  color: #666666;
}

.form-control:focus {
  outline: none;
  border-bottom: 2px solid #f0d9ff;
}

.btn-primary {
  background-color: #f0d9ff;
  border: none;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 24px;
  margin-right: 10px;
  border-radius: 4px;
  text-decoration: none;
}
